@import base

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1650px
	padding: 0 15px
	margin: 0 auto
	display: grid
	grid-template-columns: 345px 1fr 345px
	grid-template-areas: 'header header header' 'menu banner banner' 'login tovar plus' 'search tovar sales' 'program tovar ...' 'footer footer footer'
	gap: 30px

	+r(1650)
		max-width: 1200px

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

.header
	grid-area: header
	padding: 25px 0

	&__container
		display: grid
		align-items: center
		grid-template: auto / minmax(345px, auto) auto
		justify-content: space-between

	&__logo
		img
			width: 100%

	&__info
		display: grid
		grid-template: 60px / auto auto
		// align-content: center
		align-items: center
		justify-content: center
		gap: 20px

	&__leng
		color: #6d6b6b
		font-size: 20px
		line-height: 25px

		a
			color: #f3f5f8
			text-decoration: none

	&__soc
		display: grid
		grid-template: repeat(1,60px) / repeat(2,60px)
		gap: 20px

		a
			display: flex
			justify-content: center
			align-items: center
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)

.menu
	grid-area: menu

	&__item
		display: grid
		grid-template-columns: 100%
		grid-template-rows: 70px
		margin-bottom: 4px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		&:hover
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)

	&__link
		display: grid
		padding: 20px
		align-items: center
		gap: 10px
		grid-template-columns: 10% 90%
		color: #fff
		text-decoration: none

		&:hover
			color: #fff

		svg
			margin-right: 10px

.banner
	grid-area: banner

.login
	grid-area: login

	&__heading
		@extend .menu__link
		background: linear-gradient(90deg, #030303 5.95%, #494949 29.91%, #121212 45.14%, #040404 63.51%, #0D0D0D 80.27%, #040404 92.7%)
		padding: 20px
		color: #F3F5F8
		margin-bottom: 8px
		text-decoration: none

	&__form
		padding: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		p,
		a
			font-weight: 400
			font-size: 16px
			line-height: 24px
			color: #F3F5F8
			text-decoration: none
			margin-bottom: 8px

		input
			width: 100%
			background: #505050
			border: none
			height: 40px
			margin-bottom: 20px

	&__btn
		width: 100%
		font-size: 16px
		text-transform: uppercase
		height: 50px
		background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)
		color: #fff
		border: none
		margin-bottom: 15px

		&:hover
			color: #767676

	&__regist
		display: flex
		gap: 15px

		a
			margin-bottom: 0

			&:hover
				color: #767676


.search
	grid-area: search

	&__heading
		@extend .login__heading

	&__form
		display: grid
		grid-template-columns: 100%
		grid-template-rows: 60px 50px
		gap: 20px
		padding: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		input
			background: #505050
			border: none
			text-align: center
			color: #fff

		::placeholder
			color: #fff
			background: url(../images/dist/search__img2.svg) no-repeat
			background-position: 40px

.program
	grid-area: program

	&__heading
		@extend .login__heading

	&__percent
		display: grid
		grid-template-rows: 145px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)
		justify-items: center
		align-items: center
		font-size: 30px
		line-height: 24px

		a
			text-decoration: none
			color: #F3F5F8

			&:hover
				color: #767676

.tovar
	grid-area: tovar

.plus
	grid-area: plus

.sales
	grid-area: sales


.footer
	grid-area: footer
	background: #c28d8d
