@import base

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1650px
	padding: 0 15px
	margin: 0 auto
	display: grid
	grid-template-columns: 345px 1fr 345px
	grid-template-areas: 'header header header' 'menu banner banner' 'login tovar plus' 'search tovar sales' 'program tovar sales' 'footer footer footer'
	gap: 30px

	+r(1650)
		max-width: 1200px
		grid-template-columns: 1fr 1fr 1fr
		grid-template-areas: 'header header header' 'menu banner banner' 'login tovar tovar' 'search tovar tovar' 'program tovar sales' 'footer footer footer'

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

.header
	grid-area: header
	padding: 25px 0 0

	&__container
		display: grid
		align-items: center
		grid-template: auto / minmax(345px, auto) auto
		justify-content: space-between

	&__logo
		img
			width: 100%

	&__info
		display: grid
		grid-template: 60px / auto auto
		align-items: center
		justify-content: center
		gap: 20px

	&__leng
		color: #6d6b6b
		font-size: 20px
		line-height: 25px

		a
			color: #f3f5f8
			text-decoration: none

	&__soc
		display: grid
		grid-template: repeat(1,60px) / repeat(2,60px)
		gap: 20px

		a
			display: grid
			justify-content: center
			align-items: center
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)

.menu
	grid-area: menu

	&__item
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: 1fr
		margin-bottom: 4px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		&:hover
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)

	&__link
		display: grid
		padding: 20px
		align-items: center
		gap: 10px
		grid-template-columns: 30px 1fr
		color: #fff
		text-decoration: none

		&:hover
			color: #fff

		svg
			margin-right: 10px

.banner
	grid-area: banner

.login
	grid-area: login

	&__heading
		@extend .menu__link
		background: linear-gradient(90deg, #030303 5.95%, #494949 29.91%, #121212 45.14%, #040404 63.51%, #0D0D0D 80.27%, #040404 92.7%)
		padding: 20px
		color: #F3F5F8
		margin-bottom: 8px
		text-decoration: none

	&__form
		padding: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		p,
		a
			font-weight: 400
			font-size: 16px
			line-height: 24px
			color: #F3F5F8
			text-decoration: none
			margin-bottom: 8px

		input
			width: 100%
			background: #505050
			border: none
			height: 40px
			margin-bottom: 20px

	&__btn
		width: 100%
		font-size: 16px
		text-transform: uppercase
		height: 50px
		background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)
		color: #fff
		border: none
		margin-bottom: 15px

		&:hover
			color: #767676

	&__regist
		display: grid
		grid-template-columns: 1fr 1fr
		gap: 15px

		a
			margin-bottom: 0

			&:hover
				color: #767676

.search
	grid-area: search

	&__heading
		@extend .login__heading

	&__form
		display: grid
		grid-template-columns: 1fr
		grid-auto-rows: 60px 50px
		gap: 20px
		padding: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		input
			background: #505050
			border: none
			text-align: center
			color: #fff

			&::placeholder
				color: #fff
				background: url(../images/dist/search__img2.svg) no-repeat
				background-position: 40px

	&__btn
		@extend .login__btn
		margin-bottom: 0

.program
	grid-area: program
	display: grid
	grid-template-rows: 70px 145px

	&__heading
		@extend .login__heading
		margin-bottom: 0

	&__percent
		display: grid
		background: linear-gradient(90deg, #000000 0%, #434343 100%)
		justify-items: center
		align-items: center
		font-size: 30px
		line-height: 24px

		a
			text-decoration: none
			color: #F3F5F8

			&:hover
				color: #767676

.tovar
	display: grid
	grid-area: tovar
	grid-template-areas: 'heading heading heading' 'exchang exchang exchang' 'list list list'
	gap: 10px

	&__heading
		grid-area: heading
		@extend .login__heading
		display: grid
		grid-template-columns: 1fr 125px 1fr
		gap: 80px

	&__exchang
		grid-area: exchang
		grid-template-columns: 1fr 1fr
		justify-content: space-between
		@extend .login__heading

		a
			display: grid
			justify-content: end

	&__list
		grid-area: list
		display: grid
		gap: 10px

	&__item
		display: grid
		grid-template-columns: 82px 3fr 1fr 105px 96px 120px
		justify-content: space-between
		gap: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)
		color: #fff
		align-items: center
		padding-right: 20px

	&__price,
	&__newprice
		font-size: 26px
		line-height: 32px
		color: #fff
		position: relative

		&--sale
			color: #808080

		span
			&::before
				content: ""
				display: block
				position: absolute
				width: 100%
				top: 15px
				left: 0
				height: 0px
				border: 1px solid #F3F5F8
				transform: rotate(-6.31deg)

	&__number
		text-align: center
		font-weight: 700
		font-size: 16px
		line-height: 24px

	&__text
		font-size: 16px
		line-height: 24px

	&__btn
		text-transform: uppercase
		background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)
		border: none
		color: #fff
		height: 50px

		&:hover
			color: #767676

.plus,
.sales
	grid-area: plus

	&__heading
		@extend .login__heading

	&__item
		@extend .menu__item

	&__link
		padding: 13px 20px
		text-decoration: none
		color: #F3F5F8
		font-size: 18px
		line-height: 24px

		&:hover
			color: #767676

		span
			font-size: 16px
			line-height: 16px
			color: #808080

.sales
	grid-area: sales

.footer
	grid-area: footer
	background: linear-gradient(90deg, #000000 0%, #434343 100%)
	background-size: cover

	&__container
		display: flex
		justify-content: space-between
		padding: 25px 0

		ul
			display: flex
			align-items: center
			gap: 80px

	&__link
		font-size: 20px
		line-height: 25px
		color: #fff
		text-decoration: none

		&:hover
			color: #767676

	&__title
		&--main
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent

	&__soc
		@extend .header__soc