@import base

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1650px
	padding: 0 15px
	margin: 0 auto
	// display: grid
	grid-template-columns: 345px 1fr 345px
	grid-template-areas: 'header header header' 'menu banner banner' 'login tovar plus' 'search tovar sales' 'program tovar ...' 'footer footer footer'
	gap: 30px

	+r(1650)
		max-width: 1200px
		grid-template-columns: 1fr 1fr 1fr
		grid-template-areas: 'header header header' 'menu banner banner' 'login tovar tovar' 'search tovar tovar' 'program tovar ...' 'footer footer footer'

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

// .header
// 	grid-area: header
// 	padding: 25px 0

	&__container
		display: grid
		align-items: center
		grid-template: auto / minmax(345px, auto) auto
		justify-content: space-between

	&__logo
		img
			width: 100%

	&__info
		display: grid
		grid-template: 60px / auto auto
		align-items: center
		justify-content: center
		gap: 20px

	&__leng
		color: #6d6b6b
		font-size: 20px
		line-height: 25px

		a
			color: #f3f5f8
			text-decoration: none

	&__soc
		display: grid
		grid-template: repeat(1,60px) / repeat(2,60px)
		gap: 20px

		a
			display: flex
			justify-content: center
			align-items: center
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)

.menu
	grid-area: menu

	&__item
		display: grid
		grid-template-columns: 100%
		grid-template-rows: 70px
		margin-bottom: 4px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		&:hover
			background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)

	&__link
		display: grid
		padding: 20px
		align-items: center
		gap: 10px
		grid-template-columns: 10% 90%
		color: #fff
		text-decoration: none

		&:hover
			color: #fff

		svg
			margin-right: 10px

.banner
	grid-area: banner

.login
	grid-area: login

	&__heading
		@extend .menu__link
		background: linear-gradient(90deg, #030303 5.95%, #494949 29.91%, #121212 45.14%, #040404 63.51%, #0D0D0D 80.27%, #040404 92.7%)
		padding: 20px
		color: #F3F5F8
		margin-bottom: 8px
		text-decoration: none

	&__form
		padding: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		p,
		a
			font-weight: 400
			font-size: 16px
			line-height: 24px
			color: #F3F5F8
			text-decoration: none
			margin-bottom: 8px

		input
			width: 100%
			background: #505050
			border: none
			height: 40px
			margin-bottom: 20px

	&__btn
		width: 100%
		font-size: 16px
		text-transform: uppercase
		height: 50px
		background: linear-gradient(270deg, #343333 1.89%, #474747 44.47%, #767676 82.97%)
		color: #fff
		border: none
		margin-bottom: 15px

		&:hover
			color: #767676

	&__regist
		display: flex
		gap: 15px

		a
			margin-bottom: 0

			&:hover
				color: #767676


.search
	grid-area: search

	&__heading
		@extend .login__heading

	&__form
		display: grid
		grid-template-columns: 100%
		grid-template-rows: 60px 50px
		gap: 20px
		padding: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)

		input
			background: #505050
			border: none
			text-align: center
			color: #fff

			&::placeholder
				color: #fff
				background: url(../images/dist/search__img2.svg) no-repeat
				background-position: 40px

.program
	grid-area: program

	&__heading
		@extend .login__heading

	&__percent
		display: grid
		grid-template-rows: 145px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)
		justify-items: center
		align-items: center
		font-size: 30px
		line-height: 24px

		a
			text-decoration: none
			color: #F3F5F8

			&:hover
				color: #767676

.tovar
	display: grid
	grid-area: tovar
	grid-template-columns: 850px
	grid-template-rows: 70px
	grid-template-areas: 'heading heading heading' 'exchang exchang exchang' 'list list list'
	gap: 10px

	&__heading
		grid-area: heading
		@extend .login__heading
		display: grid
		grid-template-columns: 1fr 125px 1fr
		gap: 80px

	&__exchang
		grid-area: exchang
		grid-template-columns: 1fr 1fr
		justify-content: space-between
		@extend .login__heading

		a
			display: grid
			justify-content: end

	&__list
		grid-area: list
		display: grid
		gap: 10px

	&__item
		display: grid
		grid-template-columns: 82px 3fr 1fr 105px 96px 120px
		gap: 20px
		background: linear-gradient(90deg, #000000 0%, #434343 100%)
		color: #fff
		align-items: center
		padding-right: 20px

	&__price
		font-size: 26px
		line-height: 32px
		color: #fff

		&--sale
			color: #808080

		span
			position: relative

			&::before
				content: ""
				display: block
				position: absolute
				width: 90%
				top: 15px
				left: 0
				height: 0px
				border: 2px solid #F3F5F8
				transform: rotate(-6.31deg)

	&__number
		text-align: center
		font-weight: 700
		font-size: 16px
		line-height: 24px

	&__btn
		text-transform: ap

.plus
	grid-area: plus

.sales
	grid-area: sales

.wrapper
	min-height: 100%
	display: grid
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr
	grid-template-areas: "header" "main" "footer"

.header
	grid-area: header
	padding: 15px
	align-items: center
	background-color: #794f45
	display: grid
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr

	&__logo
		width: 70px
		height: 70px
		border-radius: 50%
		background-color: #fff
		grid-column: 2 / 3

	&__menu
		grid-column: 3/4

	&__list
		display: grid
		grid-auto-flow: column
		justify-items: end

		+r(992)
			display: none

		li
			margin: 0 0 0 30px

	&__link
		color: #fff
		font-size: 18px

.main
	padding: 30px 15px
	

	+rmin(992)
		grid-area: main
		display: grid
		background: #000
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr


.sidebar
	background-color: #7a956b
	padding: 30px 15px
	margin: 0 0 30px 0

	+rmin(992)
		grid-column: 2 / 3
		margin: 0

	li
		margin: 0 0 15px 0

	&__link
		color: #fff
		font-size: 20px

.content
	+rmin(992)
		grid-column: 3 / 4
		padding: 0 0 0 30px

.gallery

	&__items
		display: grid
		gap: 10px
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))


	&__item
		position: relative
		padding: 0 0 85% 0

		img
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			object-fit: cover

		&_big
			+rmin(767)
				grid-column: span 2
				grid-row: span 2


.products

	&__items
		display: grid
		column-gap: 30px
		row-gap: 50px
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
		grid-auto-rows: 1fr

	&__item
		display: grid
		grid-auto-flow: row
		grid-template: auto 1fr minmax(40px, auto) / 1fr


	&__image
		position: relative
		padding: 0 0 90% 0
		margin: 0 0 20px 0

		img
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			object-fit: cover

	&__name
		font-size: 20px
		color: #000
		line-height: 30px
		margin: 0 0 20px 0

	&__button
		color: #fff
		text-transform: uppercase
		letter-spacing: 2px
		line-height: 40px
		justify-self: start
		text-decoration: none
		background-color: #77608d
		padding: 0 20px


.footer
	grid-area: footer
	display: grid
	padding: 15px
	align-items: center
	background-color: #579957
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr

	+r(550)
		grid-template: 1fr 1fr / 1fr
		text-align: center

	&__copy
		+rmin(550)
			grid-column: 2 / 3
			
		+r(550)
			order: 2

	&__text
		+rmin(550)
			grid-column: 3 / 4
			text-align: right

		+r(550)
			order: 1